.wrapper
{
    display: flex;
    align-items: flex-end;
    padding: 0 10px 0px 27px;

}

.avatar
{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    img
    {
        border-radius: 50%;
    }
}
.messages
{
    position: relative;
    &:hover{
        .timeStamp
        {
display: block;
        }
    }
}
.text{

    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;

    padding:8px 12px;
    background:#E4E6EB;
    margin-bottom: 3px;
    position: relative;
    max-width: 300px;
    overflow-wrap: break-word
   
}
.sender
{
 justify-content: flex-end;
   .messages
   {
    display: flex;
    justify-content: end;
   }
}
.send_message
{
    color: #ffff;
    background: rgb(0, 132, 255);
}
.timeStampt
{
    text-align: center;
    font-size: 13px;
    color: #65676B;
}
.active
{
    display: none;
}
.timeStamp
{
    min-width: 50px;
    padding: 5px;
    border-radius: 12px;
    font-size: 11px;
    background: black;
    color: rgb(228, 230, 235);
    opacity: 0.8;
    box-shadow: black 0px 0px 3px;
    text-align: center;
    position: absolute;
    left: -73px;
    bottom: 4px;
    transition: all 0.5s ease 0s;
    display: none;
}
