.item
{
    padding: 9px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover
    {
               background: rgba(22, 24, 35, 0.03);
    }
}
.avatar
{
    width: 40px;
    height: 40px;
    margin: 0px 12px 0px 0px;
    img
    {
    border-radius: 50%;
    }
}
.displayName
{
    font-size: 16px;
    font-weight: 600;
}
.email
{
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: lighter;
}

